body{
    background-color: #d5af47;
}

.App{
    display: flex;
    flex-direction: column;
}

.App section{
    display: flex;
    flex-direction: row;
}

.vignette{
    width: 30%;
}

.info{
    margin: auto;
    width: 50%;
}